<div class="sign-in-jumbotron">
    <div id="user-info" class="jumbotron jumbotron-fluid jumbotron-landing-page">
        <div class="index-container text-center sign-in-container">
            <h1 class="index-title pt-4 mb-4">View or Create Project</h1>

            <div class="text-center">
                <button type="view" class="btn btn-info btn-lg d-inline my-4 mr-2" id="viewButton">
                    View Project!
                </button>
                <span>or</span>
                <a href="/projects">
                    <button type="create" class="btn btn-info btn-lg d-inline my-4 ml-2" id="createButton">
                        Create Project!
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>