<div class="sign-in-jumbotron">
    <div id="user-info" class="jumbotron jumbotron-fluid jumbotron-landing-page">
        <div class="index-container sign-in-container">
            <h1 class="index-title pt-4">DoneBoards</h1>
            <br>
            <div class="text-center">
                <a href="/login">
                    <button type="log"
                        class="btn btn-primary btn-lg login-signup d-inline mb-4 mx-2 bg-info border-info"
                        id="loginButton">
                        Login
                    </button>
                </a>
                <a href="/register">
                    <button type="sign"
                        class="btn btn-primary btn-lg login-signup d-inline mb-4 mx-2 bg-info border-info"
                        id="signinButton">
                        Register
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="js/index.js"></script>