<div id="log-in" class="jumbotron jumbotron-fluid mt-4 pt-4">
    <div class="index-container">
        <h1 class="index-title pt-4">Login</h1>
        <p class="instructions mt-4 pb-4">Please enter your username and password. If you want. It's cool. You don't have
            to...</p>
    </div>
    <form>
        <div class="input-bar mt-4">
            <label for="loginInput1">Username</label>
            <input type="email" class="form-control" id="loginInput1" name="loginInput1" aria-describedby="emailHelp"
                placeholder="Enter username" />
        </div>
        <div class="input-bar mt-4">
            <label for="loginInput2">Password</label>
            <input type="password" class="form-control" id="loginInput2" name="loginInput2" placeholder="Enter password" />
        </div>
        <div class="form-check">
        </div>
        <div class="text-center">
            <button type="log" class="btn btn-primary btn-lg login-signup d-inline mt-4 bg-info" id="loginButton">
                Login
            </button>
        </div>
</div>

<script src="js/index.js"></script>