.lead {
    text-align: center;
   /* background-color: #A7D2E8 */
}
.index-container{
    background-color: #B2B3CF;
} 

 #user-info{
   background-color:  #6f4ae6; 
   margin-top: 200px;
 } 

.sign-in-container {
  margin: 25% 25% 25% 25%;
}

.instructions{
    color: black;
    text-align: center;
}
.jumbotron-fluid{
    background-color: #232436;
}
.signup {
  margin-left: 590px;
  display: block;
  flex: center;
  background-color:  #B2B3CF;
  }

/* input-bar is for user information */
  .input-bar{
      width: 25%;
     margin: auto;
      display: block;
      flex: center; 
      color: whitesmoke;

  
  }
  .submit{
    margin: auto;
    display: block;
    flex: center;
    

  }
  .index-title{
    color: white;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-weight: 800;
  }
  .form-control{
    color: white
  }

.class-info{
  color: white;
}


