/* Ultimately will merge onto style.css later */
body {
  background-color: #232436;
}

.projects-body {
  background-color: #232436;
}

.projects-form {
  margin: 0% 25% 25% 25%;
  color: white
}

/* jumbotron below */

.index-container {
  background-color: #717a81;
  height: 15%;
}

.index-title {
  color: white;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 500%;
}

.sign-in-jumbotron {
  margin: 15% 0% 15% 0%;
  background-color: #232436;
}

.jumbotron-fluid {
  background-color: #232436;
}