/* Ultimately will merge onto style.css later */
body {
  background-color: #232436;
}

.projects-body {
  background-color: #232436;
}

.projects-form {
  margin: 25% 25% 25% 25%;
  color: white
}


/* #B2B3CF */