body {
  background-color: #232436;
}

.doneboard-card {
  min-width: 28% !important;
}

.card-body {
  height: 75% !important;
}

.doneboard-card {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  height: 75vh;
  width: 50vw;
  color: whitesmoke;
  background-color: #232436;
  margin: 0px 50px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 4px 3px 8px;
}

#doneboard-main {
  display: flex;
  margin-top: 6%;
  background-color: #595C6B;
  justify-content: center;
  align-items: center;
}

.doneboard-card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.doneboard-add-item {
  transform: scale(1);
  transition: all 0.5s;
}

.doneboard-add-item:hover {
  transform: scale(1.3);
}

.doneboard-add-item:active {
  transform: scale(1.1);
}

.login-signup {
  flex: auto;
  display: inline;
  margin: auto;
}

/* Modal on doneboards.html below*/

.modal-content {
  background-color: #232436;
  color: gainsboro;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.to-do-modal {
  display: flex;
}

.doneboard-form-group {
  margin: 5% 1% 1% 5%;
}

#taskTitleModal {
  width: 95%;
  margin: auto;
}

#taskDescriptionModal {
  width: 95%;
  margin: auto;
}

#taskNameModal {
  width: 95%;
  margin: auto;
  margin-bottom: 5%;
}

/* beginning of index.html */

.index-container {
  background-color: #595C6B;
  height: 15%;
}

.instructions {
  color: white;
  text-align: center;
}

.sign-in-jumbotron {
  margin: 15% 0% 15% 0%;
  background-color: #232436;
}

.jumbotron-fluid {
  background-color: #232436;
}

.input-bar {
  width: 25%;
  margin: auto;
  display: block;
  flex: center;
  color: whitesmoke;
}

.submit {
  margin: auto;
  display: block;
  flex: center;
}

.index-title {
  color: white;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 500%;
}

.form-control {
  color: white;
}

.class-info {
  color: white;
}

/* create page */
.create-button {
  margin: auto;
}