.our-card {
  height: 75vh;
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.4) 4px 3px 8px;
}

#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-header-mine {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-item {
  transform: scale(1);
  transition: all 0.5s;
}

.add-item:hover {
  transform: scale(1.3);
}

.add-item:active {
  transform: scale(1.1);
}